{{#partial "content"}}

<h1>Add a member!</h1>

<form action="/member/new" method="post">
    <div class="form-control">
        <label for="name">Team name</label>
        <input id="name" name="name" type="text" value="{{modifiedTeam}}">
    </div>

    <div class="form-control">
       <label for="memberName3">Add a member name</label>
       <input id="memberName3" name="memberName3" type="text" value="{{anotherMember}}">
    </div>

    <button type="submit" class="btn btn-default">Add!</button>

 </form>

{{/partial}}

{{> layout.hbs}}